* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
}
.title {
  text-align: center;
  font-size: 25px;
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button {
  background: black;
  display: inline-block;
  color: white;
  border: none;
  padding: 10px 30px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form-input {
  margin-top: 20px;
  padding: 10px 10px;
}
